@use '../abstracts/variables' as *;
@use '../components/glass' as *;

.title {
	margin: 1em auto .35em auto;
	text-align: center;
	font-size: 3.5em;
}

.list {
	margin: auto;
	width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1.5em;
	list-style: none;
}

.item {
    position: relative;
    padding: 1em 2.5em;
    border-radius: .75em;
    font-weight: 600;
    @include glass(.25);

    &.completed {
        & > .item__checkbox {
            background: $clr-white;
        }

        & > .item__text {
            text-decoration: line-through;
        }
    }
}

.item__text {
    padding-left: 1em;
}

.item__checkbox {
    position: absolute;
    top: 50%;
    // between the left side of the item and the text
    left: calc(3.5em / 2);
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
    border: .15em solid $clr-white;
    border-radius: .5em;
    cursor: pointer;
}

.bin__icon {
    position: absolute;
    top: 50%;
    right: calc(2.5em / 2);
    transform: translate(0%, -50%);
    filter: brightness(.9);
    cursor: pointer;

    &:hover {
        filter: brightness(1);
    }
}

.item-input {
    position: relative;

    & > input  {
        padding-right: 3em; // give some space for the add button
        @include glass;

        &::placeholder {
            color: rgba($clr-white, .85);
        }
    }

    .cross {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: .15rem;
            background: $clr-white;
            filter: brightness(.9);
        }

        &:after {
            transform: translateY(-50%) rotate(90deg);
        }

        &:hover:before,
        &:hover:after {
            filter: brightness(1);
        }
    }
}